.tags-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.tag-item {
    margin: 1rem 0;

    a {
        color: #999999;
        font-size: .9rem;
        margin-right: 1.3rem;
        text-decoration: none;
        word-wrap:break-word; 
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #dfdfdf;
        border: 1px solid #b6b3b3;
        border-radius: 20px;
    }

    a:hover {
        // background: #e4e4e4;
        color: #bbb8b8;
    }

    // p {
    //     color: #777777;
    //     font-size: .8rem;
    //     font-style: italic;
    // }
}

.tags-list2 {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.tag-item2 {
    margin: 1rem 0;

    a {
        color: #666666;
        font-size: .9rem;
        margin-left: 1.3rem;
        text-decoration: none;
        // padding-left: 10px;
        // padding-right: 10px;
        // padding-top: 10px;
        // padding-bottom: 10px;
        // background: #dfdfdf;
        // border: 1px solid #000000;
        // border-radius: 20px;
    }

    a:hover {
        // background: #e4e4e4;
        color: #999999;
    }

    // p {
    //     color: #777777;
    //     font-size: .8rem;
    //     font-style: italic;
    // }
}