.tags {
    padding: 1rem 0 3rem;
}

.tags-list {
    display: flex;
    list-style: none;
    margin: 0;
}

.tags-item {
    color: #999999;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.tags-item:hover {
    color: #666666;
}

.active-tags-item {
    color: #333333;
}